@using MyStore.Database.Models.Authentication.Login;
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<section class="md">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common-block">
                    <div class="inner-title">
                        <h4 class="mb-0">Login</h4>
                        <p class="mb-0">Everything is simple with Login.</p>
                    </div>

                    <form asp-action="Login" asp-controller="Home" method="post">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="text-danger">
                                @Html.ValidationSummary(true)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                @if (!string.IsNullOrEmpty(ViewBag.Message))
                                {
                                    <div class="alert alert-danger">@ViewBag.Message</div>
                                }
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12">

                                <div class="form-group">
                                    @Html.LabelFor(model=> model.Email)
                                    @Html.EditorFor(model=>model.Email, new { htmlAttributes = new { @class="form-control", placeholder="Enter your email here"}})
                                    @Html.ValidationMessageFor(model=>model.Email)
                                </div>

                            </div>

                            <div class="col-sm-12">

                                <div class="form-group">
                                    @Html.LabelFor(model=> model.Password)
                                    @Html.PasswordFor(model=>model.Password, new {@class="form-control", placeholder="Enter your password here"})
                                    @Html.ValidationMessageFor(model=>model.Password)
                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" name="RememberMe" id="RememberMe">
                                    <label class="form-check-label" for="RememberMe">Keep me signed in</label>
                                </div>
                            </div>
                            <div class="col-sm-6 text-start text-md-end">
                                <a href="/Home/ForgotPassword" class="m-link-muted">Forgot password?</a>
                            </div>

                        </div>

                        <button type="submit" class="butn-style2 mt-4">Login</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
